<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>

    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <report>
      <html outputDirectory="../test-reports/phpunit-report"/>
    </report>
  </coverage>
</phpunit>